In [2]:
import mysql.connector

In [3]:
project=mysql.connector.connect(
    host='localhost', 
    user='olasuaifan',
    password='Ola@1234' 
)
print(project)

<mysql.connector.connection.MySQLConnection object at 0x7fda0a2b86a0>

In [4]:
myproject=project.cursor()

In [5]:
# for atomicity
project.autocommit=False 
# for isolation :Serilizable
project.start_transaction(isolation_level="SERIALIZABLE")

In [85]:
myproject.execute("CREATE DATABASE DBMS_proj"  )

DatabaseError: 1007 (HY000): Can't create database 'DBMS_proj'; database exists

In [6]:
myproject.execute("SHOW DATABASES")
for database in myproject:
    print(database)

('DBMS_proj',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('School',)
('Student2',)
('students',)
('Students1',)
('sys',)
('X School',)

In [7]:
project=mysql.connector.connect(
    host='localhost', 
    user='olasuaifan',
    password='Ola@1234',
    database='DBMS_proj'
)

In [59]:
myproject.execute("CREATE TABLE Products (prodid char(2) AUTO_INCREMENT primary key, pname VARCHAR(10),price int)")

ProgrammingError: 1063 (42000): Incorrect column specifier for column 'prodid'

In [50]:
myproject.execute("CREATE TABLE Depot (depid int AUTO_INCREMENT primary key, addr VARCHAR(20),volume int)")

In [51]:
myproject.execute("CREATE TABLE Stock (prodid int REFERENCES Product(prodid), depid int REFERENCES Depot(depid), quantity int)")

In [8]:
myproject=project.cursor()
myproject.execute("SHOW TABLES")
for x in myproject:
    print(x)

('Depot',)
('Product',)
('Stock',)

In [63]:
myproject.execute("DROP TABLE Product")

In [65]:
myproject.execute("DROP TABLE Depot")
myproject.execute("DROP TABLE Stock")

In [69]:
myproject.execute("CREATE TABLE Products (pid VARCHAR(10) AUTO_INCREMENT primary key, pname VARCHAR(10),price int)")
myproject.execute("CREATE TABLE Depots (did VARCHAR(10) AUTO_INCREMENT primary key, addr VARCHAR(20),volume int)")
myproject.execute("CREATE TABLE Stocks (pid VARCHAR(10) REFERENCES Products(pid), did VARCHAR(10) REFERENCES Depots(did), quantity int)")

ProgrammingError: 1063 (42000): Incorrect column specifier for column 'pid'

In [70]:
myproject.execute("DROP TABLE IF EXISTS Product")
myproject.execute("CREATE TABLE Product (pid VARCHAR(10) primary key, pname VARCHAR(10),price int)")

In [74]:
myproject.execute("DROP TABLE IF EXISTS Depot")
myproject.execute("CREATE TABLE Depot (did VARCHAR(10)  primary key, addr VARCHAR(20),volume int)")

In [75]:
myproject.execute("DROP TABLE IF EXISTS Stock")

myproject.execute("CREATE TABLE Stock (pid VARCHAR(10) REFERENCES Products(pid), did VARCHAR(10) REFERENCES Depots(did), quantity int)")

In [9]:
myproject=project.cursor()
sql1="INSERT INTO Product(pid, pname, price)VALUES (%s,%s,%s)"
val1=[
    ('p1','tape',2.5),
    ('p2','tv',250),
    ('p3','vcr',80)
]
myproject.executemany(sql1,val1)
project.commit()
print(myproject.rowcount,"was inserted")

IntegrityError: 1062 (23000): Duplicate entry 'p1' for key 'product.PRIMARY'

In [78]:
myproject=project.cursor()
sql2="INSERT INTO Depot(did,addr,volume) VALUES (%s,%s,%s)"
val2=[
    ('d1',"New York", 9000),
    ('d2','Syracuse',6000),
    ('d4',"New York",2000)
    
]
myproject.executemany(sql2,val2)
project.commit()
print(myproject.rowcount,'was inserted ')

3 was inserted

In [79]:
myproject=project.cursor()
sql3="INSERT INTO Stock(pid, did, quantity) VALUES (%s,%s,%s)"
val3=[
    ('p1','d1',1000),
    ('p2','d2',-100),
    ('p1','d4',1200),
    ('p3','d1',3000),
    ('p3','d4',2000),
    ('p2','d4',1500),
    ('p2','d1',-400),
    ('p2','d2',2000)

    
]
myproject.executemany(sql3,val3)
project.commit()
print(myproject.rowcount,'was inserted ')

8 was inserted

In [10]:
# Q4
myproject.execute(" Update Depot SET did= 'dd1' where did='d1'")
myproject.execute(" Update Stock SET did= 'dd1' where did='d1'")

In [11]:
to_see_update='select * from Depot '
myproject.execute(to_see_update)
Result=myproject.fetchall()
for x in Result:
    print (x)

('d2', 'Syracuse', 6000)
('d4', 'New York', 2000)
('dd1', 'New York', 9000)

In [12]:
to_see_update2='select * from Stock'
myproject.execute(to_see_update2)
result2=myproject.fetchall()
for x in result2:
    print(x)

('p1', 'dd1', 1000)
('p2', 'd2', -100)
('p1', 'd4', 1200)
('p3', 'dd1', 3000)
('p3', 'd4', 2000)
('p2', 'd4', 1500)
('p2', 'dd1', -400)
('p2', 'd2', 2000)

In [21]:
#Q6
myproject=project.cursor()
sql4="INSERT INTO Stock(pid, did, quantity) VALUES (%s,%s,%s)"
sql5="INSERT INTO Depot(did,addr,volume) VALUES (%s,%s,%s)"
val5=('d100', 'Chicago', 100)
val4=('p1','d100',100)
myproject.execute(sql4,val4)
myproject.execute(sql5,val5)

IntegrityError: 1062 (23000): Duplicate entry 'd100' for key 'depot.PRIMARY'

In [20]:
myproject.execute("delete from Depot where did='p1'")
to_see_update='select * from Depot '
myproject.execute(to_see_update)
Result=myproject.fetchall()
for x in Result:
    print (x)

('d100', 'Chicago', 100)
('d2', 'Syracuse', 6000)
('d4', 'New York', 2000)
('dd1', 'New York', 9000)

In [23]:
myproject.execute("delete from Stock where pid='d100'")

to_see_update='select * from Stock '
myproject.execute(to_see_update)
Result=myproject.fetchall()
for x in Result:
    print (x)

('p1', 'dd1', 1000)
('p2', 'd2', -100)
('p1', 'd4', 1200)
('p3', 'dd1', 3000)
('p3', 'd4', 2000)
('p2', 'd4', 1500)
('p2', 'dd1', -400)
('p2', 'd2', 2000)
('p1', 'd100', 100)
('p1', 'd100', 100)