In [49]:
import mysql.connector

In [50]:
project=mysql.connector.connect(
    host='localhost', 
    user='olasuaifan',
    password='Ola@1234' 
)
print(project)

<mysql.connector.connection.MySQLConnection object at 0x7fa70935c400>

In [51]:
myproject=project.cursor()

In [52]:
# for atomicity
project.autocommit=False 
# for isolation :Serilizable
project.start_transaction(isolation_level="SERIALIZABLE")

In [26]:
myproject.execute("CREATE DATABASE DBMS_project2"  )

In [53]:
myproject.execute("SHOW DATABASES")
for database in myproject:
    print(database)

('DBMS_proj',)
('DBMS_project',)
('DBMS_project1',)
('DBMS_project2',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('School',)
('Student2',)
('students',)
('Students1',)
('sys',)
('X School',)

In [54]:
project=mysql.connector.connect(
    host='localhost', 
    user='olasuaifan',
    password='Ola@1234',
    database='DBMS_project2'
)

In [29]:
myproject=project.cursor()
myproject.execute("CREATE TABLE Product (pid VARCHAR(10) , pname VARCHAR(10),price float(10,2))")

In [30]:
myproject.execute("CREATE TABLE Depot (did VARCHAR(10)  , addr VARCHAR(20),volume int)")

In [31]:
myproject.execute("CREATE TABLE Stock (pid VARCHAR(10) , did VARCHAR(10) , quantity int)")

In [32]:
myproject.execute("ALTER TABLE Product ADD CONSTRAINT pk_Product PRIMARY KEY (pid)")
myproject.execute("ALTER TABLE Depot ADD CONSTRAINT pk_Depot PRIMARY KEY (did)")

myproject.execute("ALTER TABLE Stock ADD CONSTRAINT fk_Product FOREIGN KEY (pid) REFERENCES Product (pid) ON DELETE CASCADE ON UPDATE CASCADE")
myproject.execute("ALTER TABLE Stock ADD CONSTRAINT fk_Depot FOREIGN KEY (did) REFERENCES Depot (did) ON DELETE CASCADE ON UPDATE CASCADE")

In [55]:
myproject=project.cursor()
Tables = 'Show Tables'
myproject.execute(Tables)
Result=myproject.fetchall()
for x in Result:
    print (x)

('Depot',)
('Product',)
('Stock',)

In [34]:
myproject=project.cursor()
sql1="INSERT INTO Product(pid, pname, price)VALUES (%s,%s,%s)"
val1=[
    ('p1','tape',2.5),
    ('p2','tv',250),
    ('p3','vcr',80)
]
myproject.executemany(sql1,val1)
project.commit()
print(myproject.rowcount,"was inserted")

3 was inserted

In [35]:
Product_table='select * from Product '
myproject.execute(Product_table)
Result=myproject.fetchall()
for x in Result:
    print (x)

('p1', 'tape', 2.5)
('p2', 'tv', 250.0)
('p3', 'vcr', 80.0)

In [36]:
myproject=project.cursor()
sql2="INSERT INTO Depot(did,addr,volume) VALUES (%s,%s,%s)"
val2=[
    ('d1',"New York", 9000),
    ('d2','Syracuse',6000),
    ('d4',"New York",2000)
    
]
myproject.executemany(sql2,val2)
project.commit()
print(myproject.rowcount,'was inserted ')

3 was inserted

In [37]:
Depot_table='select * from Depot '
myproject.execute(Depot_table)
Result=myproject.fetchall()
for x in Result:
    print (x)

('d1', 'New York', 9000)
('d2', 'Syracuse', 6000)
('d4', 'New York', 2000)

In [38]:
myproject=project.cursor()
sql3="INSERT INTO Stock(pid, did, quantity) VALUES (%s,%s,%s)"
val3=[
    ('p1','d1',1000),
    ('p2','d2',-100),
    ('p1','d4',1200),
    ('p3','d1',3000),
    ('p3','d4',2000),
    ('p2','d4',1500),
    ('p2','d1',-400),
    ('p2','d2',2000)

    
]
myproject.executemany(sql3,val3)
project.commit()
print(myproject.rowcount,'was inserted ')

8 was inserted

In [39]:
Stock_table='select * from Stock '
myproject.execute(Stock_table)
Result=myproject.fetchall()
for x in Result:
    print (x)

('p1', 'd1', 1000)
('p2', 'd2', -100)
('p1', 'd4', 1200)
('p3', 'd1', 3000)
('p3', 'd4', 2000)
('p2', 'd4', 1500)
('p2', 'd1', -400)
('p2', 'd2', 2000)

In [41]:
# Q4
myproject.execute(" Update Depot SET did= 'dd1' where did='d1'")
project.commit()

In [42]:
# Q4.1 update in depot table 
Q4_answer1='select * from Depot '
myproject.execute(Q4_answer1)
Result=myproject.fetchall()
for x in Result:
    print (x)

('d2', 'Syracuse', 6000)
('d4', 'New York', 2000)
('dd1', 'New York', 9000)

In [43]:
# Q4.2 update in Stock table 
Q4_answer2='select * from Stock '
myproject.execute(Q4_answer2)
Result=myproject.fetchall()
for x in Result:
    print (x)

('p1', 'dd1', 1000)
('p2', 'd2', -100)
('p1', 'd4', 1200)
('p3', 'dd1', 3000)
('p3', 'd4', 2000)
('p2', 'd4', 1500)
('p2', 'dd1', -400)
('p2', 'd2', 2000)

In [14]:
#Q6.1 update in Depot table 
myproject=project.cursor()
sql4="INSERT INTO Depot(did,addr,volume) VALUES (%s,%s,%s)"
val4=('d100', 'Chicago', 100)
myproject.execute(sql4,val4)
project.commit()

In [15]:
# Q6.1 answer disply
Q6_answer1='select * from Depot '
myproject.execute(Q6_answer1)
Result=myproject.fetchall()
for x in Result:
    print (x)

('d100', 'Chicago', 100)
('d2', 'Syracuse', 6000)
('d4', 'New York', 2000)
('dd1', 'New York', 9000)

In [56]:
#Q6.2 update in Stock table 
myproject=project.cursor()
sql5="INSERT INTO Stock(pid, did, quantity) VALUES (%s,%s,%s)"
val5=('p1','d100',100)
myproject.execute(sql5,val5)
project.commit()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [48]:
# Q6.2 answer disply
Q6_answer2='select * from Stock '
myproject.execute(Q6_answer2)
Result=myproject.fetchall()
for x in Result:
    print (x)

InternalError: Unread result found

In [40]:
# we realised that the data type of the price attribute in Product table needed to be updated from Int to float
myproject.execute("Alter Table Product Modify column price float(10, 2)")
myproject.execute("ALTER TABLE Product ADD CHECK (price >= 0)")
myproject.execute(" Update Product SET price= 2.50 where pid='p1'")

project.commit()

In [41]:
after_correction = 'select * from Product'
myproject.execute(after_correction)
Result=myproject.fetchall()
for x in Result:
    print (x)

('p1', 'tape', 2.5)
('p2', 'tv', 250.0)
('p3', 'vcr', 80.0)

In [42]:
try:
    myproject = project.cursor()
    # QUERY

except (Exception, MYSQL.DatabaseError) as err:
    print(err)
    print("Transactions could not be completed so database will be rolled back before start of transactions")
    project.rollback()
finally:
    if project:
        project.commit()
        myproject.close
        project.close
        print("MYSQL connection is now closed")

MYSQL connection is now closed